h1 {
    color: black;
    padding: 20px;
}

#body {
    background-image: url("http://images6.fanpop.com/image/photos/36100000/Christmas-image-christmas-36118465-1920-1200.jpg");
    background-color: blue;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 40px;
}

#showcase {
    background-color: black;
    /*height: 300px;
    width: 600px;
    */
    margin: 0 auto;
}

.col-md-8 {
    position: relative;
}

#gameOne {
    background-color: red;
   /* height: 150px;
    width: 210px;
    */
}

#gameTwo {
    background-color: yellow;
}

#gameThree {
    background-color: blue;
}

#chat {
    
}

body {
    background-color: gray;
}