h1 {
    color: black;
    padding: 20px;
}

body {
    background-color: pink;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#showcase {
    background-color: black;
    height: 300px;
/*    margin-left: 20px;*/
}

.col-md-8 {
    position: relative;
}

#gameOne {
    background-color: red;
   height: 150px;
   /* display: block; */
    
}

#gameTwo {
    background-color: yellow;
    height:150px;
}

#gameThree {
    background-color: blue;
    height:150px;
}

#chat {
    display: block;
}
#chatbox{
    height:420px;
    resize: none;
}


p{
    color:black;
}