h1 {
    color: black;
    padding: 20px;
}

#body {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius:;
}

#showcase {
    background-color: black;
    height: 300px;
    
    margin: 0 auto;
}

.col-md-8 {
    position: relative;
}

#gameOne {
    background-color: red;
   height: 150px;
    
}

#gameTwo {
    background-color: yellow;
    height:150px;
}

#gameThree {
    background-color: blue;
    height:120px;
}

#chat {
    
}

body {
    background-color: gray;
}

/* Yo ok so I got a basic chat going. Question, do you still have the webpage from last year? The one on Nitrous? Mine got deleted*/ 